<!-- Main Content -->
<div class="container">
    <h1 class="text-center my-4 ai-code">AI Code Migration</h1>
  
    <div class="row">
      <div class="col-md-6">
        <!--      <label for="inputLangauge">Output</label>-->
        <h4>Input</h4>
  
        <select class="custom-select input-container" id="inputLangauge" [(ngModel)]="inputSelectedValue"
                (ngModelChange)="onInputLanguageChange($event)" required>
          <option *ngFor="let language of migrationLanguages" [value]="language.value">{{ language.name }}</option>
        </select>
        <div style="height: 500px">
          <ngx-monaco-editor class="code-editor"style="height: 100%" [options]="inputOptions"  [options]="{theme: theme}"[(ngModel)]="inputCode"></ngx-monaco-editor>
        </div>
      </div>
      <div class="col-md-6">
  
        <h4>Output</h4>
  
        <select class="custom-select" id="outputLanguage" [(ngModel)]="inputSelectedValue" required>
          <option *ngFor="let language of migrationLanguages" [value]="language.value">{{ language.name }} (Latest)</option>
        </select>
        <div style="height: 500px">
          <ngx-monaco-editor style="height: 100%" [options]="outputOptions" [options]="{theme: theme}" 
                             [(ngModel)]="outputCode"></ngx-monaco-editor>
          <button class="btn btn-light copy-btn" (click)="copyToClipboard(outputCode)">
            <ng-container *ngIf="!isCopied; else copiedIcon"><i class="far fa-copy"></i></ng-container>
            <ng-template #copiedIcon><i class="fas fa-check"></i></ng-template>
          </button>
  
        </div>
      </div>
    </div>
    <div class="text-center my-4">
      <button class="button-17" [disabled]="isLoading" (click)="translate()">
        <span *ngIf="!isLoading">Migarate</span>
  
        <span *ngIf="isLoading">
  <!--        <div class="loader"></div>-->
  
      <span *ngIf="isLoading"><i class="fas fa-spinner fa-spin"></i> Migrating...</span>
                <span class="sr-only">Loading...</span>
      </span>
      </button>
    </div>
  
  
  </div>
  